---
# <center>**MODEL INFERENCE**</center>


#### <center>CreditGuide: Your Trustworthy Defaulter Detector</center>

---

In [1]:
# import relevant libraries
import numpy as np
import pandas as pd
import pickle

In [5]:
# for model
with open('model_log.pkl','rb') as file_1:
    my_model = pickle.load(file_1)

# for PCA
with open('model_scaler.pkl', 'rb') as file_2:
    scaler_fx = pickle.load(file_2)

In [9]:
# create new dataset
inference_data = {'sex': [1,0],'education_level':[3,4],'marital_status':[2,1],'limit_balance':[8500,9000],'pay_0':[-1,2],'pay_2':[2,2],'pay_3':[-1,-1],'pay_4':[-1,3],'pay_5':[3,-1],'pay_6':[-1,2],'bill_amt_1':[1200,250],'bill_amt_2':[150,300],'bill_amt_3':[1000,1200],'bill_amt_4':[240,125],'bill_amt_5':[150,200],'bill_amt_6':[50,80], 'pay_amt_1':[100,200],'pay_amt_2':[200,200],'pay_amt_3':[100,800],'pay_amt_4':[200,125],'pay_amt_5':[0,100],'pay_amt_6':[240,60]}

inference_df = pd.DataFrame(inference_data)

inference_df

,sex,education_level,marital_status,limit_balance,pay_0,pay_2,pay_3,pay_4,pay_5,pay_6,...,bill_amt_3,bill_amt_4,bill_amt_5,bill_amt_6,pay_amt_1,pay_amt_2,pay_amt_3,pay_amt_4,pay_amt_5,pay_amt_6
0,1,3,2,8500,-1,2,-1,-1,3,-1,...,1000,240,150,50,100,200,100,200,0,240
1,0,4,1,9000,2,2,-1,3,-1,2,...,1200,125,200,80,200,200,800,125,100,60

In [10]:
# define X inference
X_inf = inference_df

In [12]:
# scaling
X_inf_scaled =scaler_fx.transform(X_inf)

In [13]:
# make prediction
predictions = my_model.predict(X_inf_scaled)

# convert prediction
converted_predictions = [bool(pred) for pred in predictions]

# make into dataframe
converted_prediction_df = pd.DataFrame(converted_predictions,columns = ['Prediction Result'])

/Users/catherinemulyadi/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [15]:
predictions

array([0, 1])

In [14]:
# show prediction result
converted_prediction_df

   Prediction Result
0              False
1               True

### **INSIGHTS:**
- True means the client will default based on his/her credit payment pattern.
- False means the client will not default based on his/her credit payment pattern.